# --- Entornos virtuales ---
venv/
env/
.venv/
.env/

# --- Archivos de caché de Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Configuración de IDEs ---
.vscode/

# --- Archivos de entorno y secretos ---
.env
*.env
.env.*

# --- Nombre de red y contraseñas ---
sensibleData.h

# --- Archivos de logs ---
*.log

# --- Archivos de paquetes ---
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# --- Archivos de prueba de cobertura ---
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# --- Otros archivos que no quieres subir ---
Thumbs.db          # Windows
desktop.ini        # Windows

# --- Archivos de pyenv ---
.python-version

# --- Archivos de pytest ---
.cache/

# --- VSCode-specific files ---
.vscode/
.history/

# pythonServer/sensibleData.py
sensible.py


